# Demo api

In [1]:
import AB_Testing
import pandas as pd
from AB_Testing.data_preperation.data_generator import generate_advertisment, generate_date, generate_source, generate_calls, generate_customer
import sqlite3

In [2]:
cust = generate_customer(1)
ad = generate_advertisment(1)
date = generate_date(1)
src = generate_source(1)
(calls := generate_calls(1, 1, 1, 1, 1))

{'call_id': 1,
 'customer_id': 1,
 'phone_number_id': 1,
 'source_id': 1,
 'call_duration': 472}

In [3]:
from sqlite3 import OperationalError


conn = sqlite3.connect("CallTracking.db")
with open("AB_Testing/DB/CallTracking.sql", "r") as f:
    [conn.execute("drop table if exists " + i + ";") for i in ["DimDate", "DimAdvertisement", "DimSource", "DimAlgorithm", "DimCustomer", "CallTrackingResults"]]

    for statement in "\n".join(f.readlines()).split(";"):
        try:
            conn.execute(statement)
        except OperationalError as e:
            print(e)

In [4]:
dim_date = AB_Testing.data_preperation.SqlHandler("CallTracking", "DimDate")

In [5]:
date

{'CalendarDate': '2023-05-14',
 'Year': 2023,
 'Day': '14',
 'Month': '05',
 'Quarter': 2}

In [6]:
dim_date.insert_many(pd.DataFrame({k:[v] for k, v in date.items()}))

2023-11-03 19:36:14,174 - sql_interactions.py - insert_many - INFO - (BEFORE the column intersection: ['calendardate', 'year', 'day', 'month', 'quarter']) - line: 68
2023-11-03 19:36:14,174 - sql_interactions.py - get_table_columns - INFO - (the list of columns: ['DateID', 'CalendarDate', 'Month', 'Quarter', 'Year']) - line: 39
2023-11-03 19:36:14,179 - sql_interactions.py - insert_many - INFO - (AFTER the column intersection: ['calendardate', 'year', 'quarter', 'month']) - line: 71
2023-11-03 19:36:14,184 - sql_interactions.py - insert_many - INFO - (the shape of the table which is going to be imported (1, 4)) - line: 75
2023-11-03 19:36:14,185 - sql_interactions.py - insert_many - INFO - (insert structure: colnames: calendardate, year, quarter, month params: ?, ?, ?, ?) - line: 85
2023-11-03 19:36:14,187 - sql_interactions.py - insert_many - INFO - (('2023-05-14', 2023, 2, '05')) - line: 86
2023-11-03 19:36:14,187 - sql_interactions.py - insert_many - INFO - (QUERY: INSERT INTO  DimDate (calendardate, year, quarter, month) VALUES (?, ?, ?, ?);) - line: 89
2023-11-03 19:36:14,195 - sql_interactions.py - insert_many - WARNING - (the data is loaded) - line: 102

In [7]:
dim_date.from_sql_to_pandas(0, 64)

2023-11-03 19:36:14,213 - sql_interactions.py - from_sql_to_pandas - INFO - (the shape of the chunk: (1, 5)) - line: 131
2023-11-03 19:36:14,213 - sql_interactions.py - from_sql_to_pandas - WARNING - (loading the data from SQL is finished) - line: 135
2023-11-03 19:36:14,215 - sql_interactions.py - from_sql_to_pandas - DEBUG - (connection is closed) - line: 136

  DateID CalendarDate  Month  Quarter  Year
0   None   2023-05-14      5        2  2023