# Demo api

In [1]:
import AB_Testing
import pandas as pd
from AB_Testing.data_preperation.data_generator import generate_advertisment, generate_date, generate_source, generate_calls, generate_customer
import sqlite3

In [2]:
cust = generate_customer(1)
ad = generate_advertisment(1)
date = generate_date(1)
src = generate_source(1)
# alg = {"AlgorithmID":[1], "Description":["Thompson AB"], "AlgorithmName":["Thompson"]}
(calls := generate_calls(1, 1, 1, 1, 1))

{'call_id': 1,
 'customer_id': 1,
 'phone_number_id': 1,
 'source_id': 1,
 'call_duration': 671}

In [3]:
from sqlite3 import OperationalError


conn = sqlite3.connect("CallTracking.db")
with open("AB_Testing/DB/CallTracking.sql", "r") as f:
    [conn.execute("drop table if exists " + i + ";") for i in ["DimDate", "DimAdvertisement", "DimSource", "DimAlgorithm", "DimCustomer", "CallTrackingResults"]]

    for statement in "\n".join(f.readlines()).split(";"):
        try:
            conn.execute(statement)
        except OperationalError as e:
            print(e)

In [4]:
dim_date = AB_Testing.data_preperation.SqlHandler("CallTracking", "DimDate")

In [5]:
date

{'CalendarDate': '2023-12-14',
 'Year': 2023,
 'Day': '14',
 'Month': '12',
 'Quarter': 4}

In [6]:
dim_date.insert_many(pd.DataFrame({k:[v] for k, v in date.items()}))

2023-11-03 19:44:20,755 - sql_interactions.py - insert_many - INFO - (BEFORE the column intersection: ['calendardate', 'year', 'day', 'month', 'quarter']) - line: 74
2023-11-03 19:44:20,755 - sql_interactions.py - get_table_columns - INFO - (the list of columns: ['DateID', 'CalendarDate', 'Month', 'Quarter', 'Year']) - line: 45
2023-11-03 19:44:20,763 - sql_interactions.py - insert_many - INFO - (AFTER the column intersection: ['year', 'month', 'calendardate', 'quarter']) - line: 77
2023-11-03 19:44:20,766 - sql_interactions.py - insert_many - INFO - (the shape of the table which is going to be imported (1, 4)) - line: 81
2023-11-03 19:44:20,766 - sql_interactions.py - insert_many - INFO - (insert structure: colnames: year, month, calendardate, quarter params: ?, ?, ?, ?) - line: 91
2023-11-03 19:44:20,766 - sql_interactions.py - insert_many - INFO - ((2023, '12', '2023-12-14', 4)) - line: 92
2023-11-03 19:44:20,766 - sql_interactions.py - insert_many - INFO - (QUERY: INSERT INTO  DimDate (year, month, calendardate, quarter) VALUES (?, ?, ?, ?);) - line: 95
2023-11-03 19:44:20,779 - sql_interactions.py - insert_many - WARNING - (the data is loaded) - line: 108

In [7]:
dim_date.from_sql_to_pandas(0, 64)

2023-11-03 19:44:20,793 - sql_interactions.py - from_sql_to_pandas - INFO - (the shape of the chunk: (1, 5)) - line: 137
2023-11-03 19:44:20,795 - sql_interactions.py - from_sql_to_pandas - WARNING - (loading the data from SQL is finished) - line: 141
2023-11-03 19:44:20,795 - sql_interactions.py - from_sql_to_pandas - DEBUG - (connection is closed) - line: 142

  DateID CalendarDate  Month  Quarter  Year
0   None   2023-12-14     12        4  2023

In [8]:
dim_date.close_cnxn()

2023-11-03 19:44:20,816 - sql_interactions.py - close_cnxn - INFO - (commiting the changes) - line: 31
2023-11-03 19:44:20,816 - sql_interactions.py - close_cnxn - INFO - (the connection has been closed) - line: 34

In [9]:
with AB_Testing.data_preperation.SqlHandler("CallTracking", "DimAdvertisement") as dim_ad:
    dim_ad.insert_many(pd.DataFrame({k:[v] for k, v in ad.items()}))
    print(dim_ad.from_sql_to_pandas(0, 64))

2023-11-03 19:44:20,831 - sql_interactions.py - insert_many - INFO - (BEFORE the column intersection: ['advertisementid', 'advertisementtype']) - line: 74
2023-11-03 19:44:20,831 - sql_interactions.py - get_table_columns - INFO - (the list of columns: ['AdvertisementID', 'AdvertisementType', 'Budget']) - line: 45
2023-11-03 19:44:20,836 - sql_interactions.py - insert_many - INFO - (AFTER the column intersection: ['advertisementtype', 'advertisementid']) - line: 77
2023-11-03 19:44:20,838 - sql_interactions.py - insert_many - INFO - (the shape of the table which is going to be imported (1, 2)) - line: 81
2023-11-03 19:44:20,839 - sql_interactions.py - insert_many - INFO - (insert structure: colnames: advertisementtype, advertisementid params: ?, ?) - line: 91
2023-11-03 19:44:20,841 - sql_interactions.py - insert_many - INFO - (('member', 1)) - line: 92
2023-11-03 19:44:20,841 - sql_interactions.py - insert_many - INFO - (QUERY: INSERT INTO  DimAdvertisement (advertisementtype, advertisementid) VALUES (?, ?);) - line: 95
2023-11-03 19:44:20,848 - sql_interactions.py - insert_many - WARNING - (the data is loaded) - line: 108
2023-11-03 19:44:20,851 - sql_interactions.py - from_sql_to_pandas - INFO - (the shape of the chunk: (1, 3)) - line: 137
2023-11-03 19:44:20,851 - sql_interactions.py - from_sql_to_pandas - WARNING - (loading the data from SQL is finished) - line: 141
2023-11-03 19:44:20,851 - sql_interactions.py - from_sql_to_pandas - DEBUG - (connection is closed) - line: 142
2023-11-03 19:44:20,856 - sql_interactions.py - close_cnxn - INFO - (commiting the changes) - line: 31
2023-11-03 19:44:20,856 - sql_interactions.py - close_cnxn - INFO - (the connection has been closed) - line: 34

   AdvertisementID AdvertisementType Budget
0                1            member   None

In [10]:
with AB_Testing.data_preperation.SqlHandler("CallTracking", "DimSource") as dim_src:
    dim_src.insert_many(pd.DataFrame({k:[v] for k, v in src.items()}))
    print(dim_src.from_sql_to_pandas(0, 64))

2023-11-03 19:44:58,050 - sql_interactions.py - insert_many - INFO - (BEFORE the column intersection: ['sourceid', 'sourcename', 'sourcetype']) - line: 74
2023-11-03 19:44:58,057 - sql_interactions.py - get_table_columns - INFO - (the list of columns: ['SourceID', 'SourceName', 'SourceType']) - line: 45
2023-11-03 19:44:58,057 - sql_interactions.py - insert_many - INFO - (AFTER the column intersection: ['sourcename', 'sourcetype', 'sourceid']) - line: 77
2023-11-03 19:44:58,067 - sql_interactions.py - insert_many - INFO - (the shape of the table which is going to be imported (1, 3)) - line: 81
2023-11-03 19:44:58,067 - sql_interactions.py - insert_many - INFO - (insert structure: colnames: sourcename, sourcetype, sourceid params: ?, ?, ?) - line: 91
2023-11-03 19:44:58,071 - sql_interactions.py - insert_many - INFO - (('Facebook', 'Online', 1)) - line: 92
2023-11-03 19:44:58,072 - sql_interactions.py - insert_many - INFO - (QUERY: INSERT INTO  DimSource (sourcename, sourcetype, sourceid) VALUES (?, ?, ?);) - line: 95
2023-11-03 19:44:58,086 - sql_interactions.py - insert_many - WARNING - (the data is loaded) - line: 108
2023-11-03 19:44:58,091 - sql_interactions.py - from_sql_to_pandas - INFO - (the shape of the chunk: (1, 3)) - line: 137
2023-11-03 19:44:58,093 - sql_interactions.py - from_sql_to_pandas - WARNING - (loading the data from SQL is finished) - line: 141
2023-11-03 19:44:58,095 - sql_interactions.py - from_sql_to_pandas - DEBUG - (connection is closed) - line: 142
2023-11-03 19:44:58,098 - sql_interactions.py - close_cnxn - INFO - (commiting the changes) - line: 31
2023-11-03 19:44:58,105 - sql_interactions.py - close_cnxn - INFO - (the connection has been closed) - line: 34

   SourceID SourceName SourceType
0         1   Facebook     Online

In [11]:
with AB_Testing.data_preperation.SqlHandler("CallTracking", "DimCustomer") as dim_cust:
    dim_cust.insert_many(pd.DataFrame({k:[v] for k, v in cust.items()}))
    print(dim_cust.from_sql_to_pandas(0, 64))

2023-11-03 19:48:29,585 - sql_interactions.py - insert_many - INFO - (BEFORE the column intersection: ['customerid', 'customer_name', 'location', 'contactinfo']) - line: 74
2023-11-03 19:48:29,587 - sql_interactions.py - get_table_columns - INFO - (the list of columns: ['CustomerID', 'CustomerName', 'Location', 'ContactInfo']) - line: 45
2023-11-03 19:48:29,588 - sql_interactions.py - insert_many - INFO - (AFTER the column intersection: ['location', 'contactinfo', 'customerid']) - line: 77
2023-11-03 19:48:29,591 - sql_interactions.py - insert_many - INFO - (the shape of the table which is going to be imported (1, 3)) - line: 81
2023-11-03 19:48:29,593 - sql_interactions.py - insert_many - INFO - (insert structure: colnames: location, contactinfo, customerid params: ?, ?, ?) - line: 91
2023-11-03 19:48:29,594 - sql_interactions.py - insert_many - INFO - (('294 Jill Unions', '001-619-552-5910', 1)) - line: 92
2023-11-03 19:48:29,597 - sql_interactions.py - insert_many - INFO - (QUERY: INSERT INTO  DimCustomer (location, contactinfo, customerid) VALUES (?, ?, ?);) - line: 95
2023-11-03 19:48:29,605 - sql_interactions.py - insert_many - WARNING - (the data is loaded) - line: 108
2023-11-03 19:48:29,608 - sql_interactions.py - from_sql_to_pandas - INFO - (the shape of the chunk: (1, 4)) - line: 137
2023-11-03 19:48:29,608 - sql_interactions.py - from_sql_to_pandas - WARNING - (loading the data from SQL is finished) - line: 141
2023-11-03 19:48:29,610 - sql_interactions.py - from_sql_to_pandas - DEBUG - (connection is closed) - line: 142
2023-11-03 19:48:29,612 - sql_interactions.py - close_cnxn - INFO - (commiting the changes) - line: 31
2023-11-03 19:48:29,615 - sql_interactions.py - close_cnxn - INFO - (the connection has been closed) - line: 34

   CustomerID CustomerName         Location       ContactInfo
0           1         None  294 Jill Unions  001-619-552-5910

In [22]:
with AB_Testing.data_preperation.SqlHandler("CallTracking", "CallTrackingResults") as call_results:
    call_results.insert_many(pd.DataFrame({k:[v] for k, v in calls.items()}))
    print(call_results.from_sql_to_pandas(0, 64))

2023-11-03 19:54:40,114 - sql_interactions.py - insert_many - INFO - (BEFORE the column intersection: ['call_id', 'customer_id', 'phone_number_id', 'source_id', 'call_duration']) - line: 74
2023-11-03 19:54:40,121 - sql_interactions.py - get_table_columns - INFO - (the list of columns: ['ResultID', 'DateID', 'AdvertisementID', 'SourceID', 'AlgorithmID', 'CustomerID', 'CallDuration', 'ConversionStatus']) - line: 45
2023-11-03 19:54:40,123 - sql_interactions.py - insert_many - INFO - (AFTER the column intersection: []) - line: 77
2023-11-03 19:54:40,125 - sql_interactions.py - insert_many - INFO - (the shape of the table which is going to be imported (1, 0)) - line: 81
2023-11-03 19:54:40,129 - sql_interactions.py - insert_many - INFO - (insert structure: colnames: [] params: []) - line: 91
2023-11-03 19:54:40,130 - sql_interactions.py - insert_many - INFO - (()) - line: 92
2023-11-03 19:54:40,132 - sql_interactions.py - insert_many - INFO - (QUERY: INSERT INTO  CallTrackingResults ([]) VALUES ([]);) - line: 95
2023-11-03 19:54:40,139 - sql_interactions.py - close_cnxn - INFO - (commiting the changes) - line: 31
2023-11-03 19:54:40,139 - sql_interactions.py - close_cnxn - INFO - (the connection has been closed) - line: 34

OperationalError: table CallTrackingResults has no column named

In [23]:
pd.DataFrame({k:[v] for k, v in calls.items()})

   call_id  customer_id  phone_number_id  source_id  call_duration
0        1            1                1          1            671